@import url('fonts/stylesheet.css');
.ft-playfair{font-family: 'Playfair Display', serif;}
.ft-futura{font-family: 'Futura PT', serif;}

body{@extend .ft-futura;}
.container{
	@include media-min(xs){max-width: 540px;}
	@include media-min(sm){max-width: 720px;}
	@include media-min(md){max-width: 960px;}
	@include media-min(lg){max-width: 1140px;}
	@include media-min(xl){max-width: 1680px;}
}
h1,.h1{@extend .ft-playfair; text-transform: none; font-weight: bold;}
.heroFW[class*="title--"]{
	h1,.h1{font-weight: bold;}
}


#logo{object-fit: contain;}
#header{
	background: header(background);
	font-size: header(font-size);
	color: header(font-color);
    box-shadow: none;
    transition: background 0.2s;
    .headerFW__nav__panel{box-shadow: none; background: body(background);}
    &.stick{background: body(background);}
}
.header__wrapper{display: flex;padding: 1em 2em;max-width: 1740px; margin: auto; width: 100%; align-items: center;}
.header__logo{}
.header__col{
	&.col--nav{flex-grow: 1; white-space: nowrap; display: flex;align-items: center;
		.headerFW__nav__inline{ display: flex; align-items: center; justify-content: space-between; flex-grow: 1;
			ul{@extend .no-pbreak,.reset !optional; display: flex;}
			>ul{
				>li{position: relative;
					&.active, &.trail, &.hover, &:hover{
						>*:not(ul){color: $primary;}
					}
					&:after{display: none;}
					>:not(ul){padding: 0.65em 1.5em;}
				}
				ul{flex-direction: column;box-shadow: 0 1px 3px rgba(0,0,0,0.6); padding: 0.5em 0; background: body(background); top: 100%;
					>li{
						&.active>*,
			            &.trail>*,
			            &.hover>*,
			            &:hover>*{ &:not(ul){text-decoration: none; color:  $primary;}}
					}
				}
			}
		}
	}
	&.col--cta{white-space: nowrap;}
}

.square-primary{display: inline-block; width: 20px; height: 20px; margin: 0 0.5em; background: $primary;}


#footer{
	a{color:inherit; text-decoration: none;
		&:hover{color:link(font-color-hover);}
	}
	.mod_customnav ul{margin-bottom: 0;}
}
.footer__item{@extend .p-y; display: flex; flex-wrap: wrap; align-items: center;
	+.footer__item{border-top: 1px solid rgba(footer(font-color),0.2);}
	&.infos{@extend .p-y-x2,.d-grid,.cols-4,.cols-lg-2,.cols-md-1; 
		gap: 4em;
		@include media-max(md){gap: 2em;}
		// @include media-max(xs){gap: 1em;}
	}
	&.copyright{ justify-content: center;
		&>*:first-child{flex-grow: 	1;}
	}
}


body.home{
	#container{flex-grow: 1; display: flex; width: 100%;}
	#main{display: flex; width: 100%;}
	#main>.inside{display: flex; flex-wrap: wrap; width: 100%; }
	.mod_article{width: 100%;}
}
#home__hero{ @extend .counter-x !optional; width: 100vw; padding: 0; margin-bottom: 0; min-height: 88vh; min-height: calc(100vh - 115px);
	.home__title{ font-size: 2.25em; font-size: calc(1em + 2vw); line-height: 1.2; white-space: nowrap;
		h1,h2{font-size: 1em;}
	}
	.home__hero__wrapper{ position: relative; padding: 8% 15% 2em; background-repeat: no-repeat; background-size: cover; 
		padding-right: 700px*0.4;
		@include media-max(lg){padding-right: 500px*0.4;}
		@include media-max(sm){padding-right: 15%;}
		@include media-max(xxs){padding-right: 1.5em;padding-left: 1.5em;}
		p{max-width: 45ch;}
	}
	.home__hero__media{position: absolute; bottom: 0;right: 0;transform: translate(60%,30%); 
		width: 700px;
		@include media-max(lg){width: 500px;}
		@include media-max(sm){position: relative; margin-top: 2em;width: 120vw; left: 50%; transform: translateX(-50%);  margin-bottom: -120vw !important; }
	}
	.home__hero__item{z-index: -1;
		&.bg-purple{}
		&.bg-spindle{}
	}
}

#home__vosenjeux{@extend .counter-x !optional; width: 100vw;
	.home__vosenjeux__wrapper{position: relative; background-repeat: no-repeat; background-size: auto; background-repeat: no-repeat; padding: 5% 15% 5%; }
	.home__vosenjeux__img{position: absolute; right: 0; top: 0; bottom: 0; z-index: -1; width: 50vw;
		@include media-max(xl){width: 40vw;}
		@include media-max(lg){width: 30vw;}
		@include media-max(md){position: relative; width: 100vw; left: 50%; transform: translateX(-50%); margin-top: -20%;}
		figure{@extend %img-container;
			img{object-position: right;}
		}
	}
	.title--compound{@include media-max(md){text-align: center;}}
}
#home__notreecosysteme{@extend .counter-x !optional; width: 100vw; position: relative;
	.home__notreecosysteme__wrapper{position: relative; padding: 15% 15%;
		padding-right: 50vw*0.5;
		@include media-max(md){padding-right: 15%; text-align: center; }
		@include media-max(xxs){padding-right: 1.5em;padding-left: 1.5em;}
	}
	.title--compound{@include media-max(md){margin: auto;}}
	.home__notreecosysteme__media{position: absolute; top: 50%;right: 0;transform: translate(0%,-50%); @extend %img-container,.r_16-9 !optional;
		figure{@extend %img-container,.r_16-9 !optional;}
		width: 50vw;
		@include media-max(md){position: relative; width: 110vw; left: 50%; top: 0;transform: translateX(-50%);}
	}
}

// backband
[class*='backband--']{position: relative;
	&:before{content:""; display: block; position: absolute; z-index: -1; width: 110vw; top: 20%; bottom: 20%; left:50%; transform: translateX(-50%);}
}
@each $key, $value in $colors{
	.backband--#{$key}{
		&:before{background-color: $value;}
	}
}


// MEP
ol, p, ul{margin-bottom: 0.65em;}

.mod_article{margin-bottom: $spacing*2; padding: $spacing*2 0;
  @include media-max(xs){margin-bottom: $spacing;padding: $spacing 0;}
  >.heroFW:first-child{margin-top: - $spacing*2;
  	@include media-max(xs){margin-top: -$spacing;}
  }
}

.heroFW__content .heroFW__content__wrapper{@extend .container !optional; width: 100%; margin-left: auto; margin-right: auto; }

.btn-icon{
	padding: .6em .65em .65em; line-height: 1em; background: none; color: btn(background); vertical-align: middle; text-align: center;display: inline-block; margin-top: 2.5px;margin-bottom: 2.5px;
	&:hover{color: link(font-color-hover);}
    i[class*="fa"],svg{width: 1em; height: 1em;}
}
.btn{
	i[class*=long-arrow]{margin-top: 0.25em !important;}
}
i[class*=long-arrow]{vertical-align: text-bottom;}

.icon-last,.icon-first{
	padding-left: 1.5em !important; 
	padding-right: 1.5em !important; 
}

.title--compound{margin-bottom: 1.25em; 
	&:not([class*=ft-]){font-size: 1.5em;}
	p,h1,h2,h3,h4,h5,h6{margin: 0; font-weight: normal;}
	h1,h2,h3,h4,h5,h6{}
	p{font-size: 1rem;line-height: body(line-height);
		&+p{margin-top: 1em;}
	}
}

// BREADCRUMB
$breadcrumb--height: 3rem;
.mod_breadcrumb{ height: $breadcrumb--height; z-index: 1; position: relative;
	.container &.container{padding: 0;} 
	ul{line-height: $breadcrumb--height;}
	+.mod_article{
		&:not(.p-top-0)>.heroFW:first-child{margin-top: -$spacing*2 - $breadcrumb--height;
  		@include media-max(xs){margin-top: -$spacing - $breadcrumb--height;}
		}
		&.p-top-0>.heroFW:first-child{margin-top: -$breadcrumb--height;}
	}
}


.block-card{
	&[data-preset="factorielles--infocard"]{
		// inherited =style from default
		.block-card__wrapper{@extend %paper !optional;}
		&:not([class*="content__bg--"]){
			.block-card__wrapper:after{background: body(block-background);}
		}
		.block-card__content{padding: 2.5em 2.5em 3em;}
		.block-card__headline,
		.block-card__footer{padding: .75em .85em;}
		.block-card__headline{margin-bottom: -2em;}
		.block-card__footer{margin-top: -2em;}
		.block-card__actions{margin-right: -1.15em; margin-bottom: -2em;}

		// specific style
		.block-card__figure{
			&:last-child{padding: 2em; }
		}
		.block-card__content{ position: relative;
			&:first-child{padding-bottom: 2.5em;
				&:after{content: ''; display: block; width: 25%; height: 1px; background-color: currentColor; width: 25%; padding: 0; float: none; margin: auto; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);}
			}
		}
		.block-card__text{font-weight: 300; font-size: 1.4em; }
	}
}


.ce_rsce_quote{
	&[class*="backband--"]{@extend .clear-after !optional;
		max-width: 1200px; margin: auto;
		.wrapper{padding: 2em;}
		&:before{top: 10%;bottom: 10%;
			@include media-max(md){bottom: 0;}
		}
	}
	.img-container{ overflow: visible;
		&:after{@include pseudo(); top: -1em; left:-1em; width: 60%; height: 60%; background: color(spindle); z-index: -1;}
		@include media-max(md){width: auto; margin: 0 1em;}
	}
	.wrapper{display: flex; align-items: center; padding: 2em;}
	.quote{font-weight: 300;}
	.author{color: $primary; 
		strong{font-weight: 400;}
		&:before{content:""; @extend .square-primary !optional;}
	}
}