@import url('fonts/stylesheet.css');
.ft-playfair{font-family: 'Playfair Display', serif;}
.ft-futura{font-family: 'Futura PT', serif;}

body{@extend .ft-futura;}
.container{
	@include media-min(xs){max-width: 540px;}
	@include media-min(sm){max-width: 720px;}
	@include media-min(md){max-width: 960px;}
	@include media-min(lg){max-width: 1140px;}
	@include media-min(xl){max-width: 1680px;}
}
h1,.h1{@extend .ft-playfair; text-transform: none; font-weight: bold;}
h2,.h2{font-size: 2.65rem;}
.heroFW[class*="title--"]{
	h1,.h1{font-weight: bold;}
}

// MEP
*:where([class*='bg-']:not([class*='bg--']):not([class*='btn-'])){padding: $spacing*0.65 $spacing;}

@for $index from 1 through 6{
  h#{$index},
  .h#{$index}{
  	font-weight: normal;
  }
}
%input{
	&.mandatory{border-color: $primary !important;}
}

.txt-limit-x2 p, 
.txt-limit-x2 ul, 
.txt-limit-x2 ol, 
p.txt-limit-x2{max-width: body(line-height)*26ch; }

ol, p, ul{margin-bottom: 0.65em;}

.mod_article{ padding: $spacing*2 0;
	// @extend .txt-limit;
  @include media-max(xs){ padding: $spacing 0;}
  >.heroFW:first-child{margin-top: - $spacing*2; 
  	@include media-max(xs){margin-top: -$spacing;}
  }
  >.heroFW:last-child{margin-bottom: - $spacing*2;
  	@include media-max(xs){ margin-bottom: -$spacing;}
  }
}

.accordionFW__content__wrapper{@extend .no-txt-limit,.clear-after;}

.tabs__nav{display: flex; flex-wrap: wrap; margin-right: -5px;
	button{flex-grow: 1; margin: 0 5px 5px 0;}
}

.heroFW__content .heroFW__content__wrapper{@extend .container !optional; width: 100%; margin-left: auto; margin-right: auto; padding-left: var(--bs-gutter-x,.75rem); padding-right: var(--bs-gutter-x,.75rem);
	@include media-max(xs){padding: 0;}
}
.heroFW__content__wrapper .tag{padding:  0.25em 0.65em 0.35em; font-size: 0.65em; font-weight: normal; background: lighten(color(yellow), 20); 
	+h1{margin-top: 0;}
}

.btn-icon{
	padding: .6em .65em .65em; line-height: 1em; background: none; color: btn(background); vertical-align: middle; text-align: center;display: inline-block; margin-top: 2.5px;margin-bottom: 2.5px;
	&:hover{color: link(font-color-hover);}
    i[class*="fa"],svg{width: 1em; height: 1em;}
}
.btn{
	i[class*=long-arrow]{margin-top: 0.25em !important;}
}

a.see-more{text-decoration: none; font-size: 1.2em;
	&:not([class*=ft-]){color: color(purple);}
}

i[class*=long-arrow]{vertical-align: text-bottom;}

.icon-last,.icon-first{
	padding-left: 1.5em !important; 
	padding-right: 1.5em !important; 
}

.title--compound{margin-bottom: 1.85rem;
	&:not([class*=ft-]){font-size: 2.65rem;}
	p,h1,h2,h3,h4,h5,h6{margin: 0; font-weight: normal;}
	h1,h2,h3,h4,h5,h6{font-size: inherit;}
	p{font-size: 1rem;line-height: body(line-height);
		&+p{margin-top: 1em;}
	}
}
%title--underline{position: relative;
	&:first-letter{text-decoration: underline currentColor 8px; text-underline-position: under;}
}
*[class*=title--underline]{@extend %title--underline;
	@each $key, $value in $colors{
		&[class*=--#{$key}]:first-letter{text-decoration-color: $value;}
	}
}	
%title--sep{
	position: relative;
	&:after{content:"";display: block; height: 5px; width: 30%; background: currentColor; max-width: 120px; margin: 0.35em 0 0;}
}
.ce_headline[class*="sep-bot-"],
.title--sep{@extend %title--sep;}


.grid--2cols{ @extend .d-grid,.cols-12,.gap-2 !optional;
	>div:nth-of-type(1){@extend .cols-span-8,.cols-span-lg-7,.cols-span-md-12,.p-x-x2 !optional;}
	>div:nth-of-type(2){@extend .cols-span-4,.cols-span-lg-5,.cols-span-md-12,.p-x !optional;}
}

#logo{object-fit: contain;}
#header{
	background: header(background);
	font-size: header(font-size);
	color: header(font-color);
    box-shadow: none;
    transition: background 0.2s;
    .headerFW__nav__panel{box-shadow: none; background: body(background);}
    &.stick{background: body(background);}
}
.header__wrapper{display: flex;padding: 1em 2em;max-width: 1740px; margin: auto; width: 100%; align-items: center;}
.header__logo{}
.header__cta{ transition: all 0.3s;
	.cart{ position: relative; text-align: center;
		.nb_items{background: $tertiary; border-radius: 100%; box-shadow: 0 1px 4px 1px rgba(0,0,0,0.2); color: body(background); display: block; font-size: .7em; height: 25px; left: 12px; line-height: 25px; opacity: .3; position: absolute; text-align: center; text-decoration: none; bottom: -20px; width: 25px; transition: opacity 0.3s;}
		.nb_items:hover,
		&:hover .nb_items{opacity: 0.8;}
	}
	.headerFW__nav__panel &{margin: 0 auto; display: flex;flex-direction: column-reverse; gap: 0.25em; margin-top: 0.5em;	}
}
.header__col{
	&.col--nav{flex-grow: 1; white-space: nowrap; display: flex;align-items: center;
		.headerFW__nav__inline{ display: flex; align-items: center; justify-content: space-between; flex-grow: 1;
			ul{@extend .no-pbreak,.reset !optional; display: flex;}
			>ul{
				>li{position: relative;
					&.active, &.trail, &.hover, &:hover{
						>*:not(ul){color: $secondary;}
					}
					&:after{display: none;}
					>:not(ul){padding: 0.65em 1.5em;}
				}
				ul{flex-direction: column;box-shadow: 0 1px 3px rgba(0,0,0,0.6); padding: 0.5em 0; background: body(background); top: 100%;
					>li{
						&.active>*,
			            &.trail>*,
			            &.hover>*,
			            &:hover>*{ &:not(ul){text-decoration: none; color:  $secondary;}}
					}
				}
			}
		}
	}
	&.col--cta{white-space: nowrap;}
}


#footer{
	a{color:inherit; text-decoration: none;
		&:hover{color:link(font-color-hover);}
	}
	.mod_customnav ul{margin-bottom: 0;}
}
.footer__item{@extend .p-y; display: flex; flex-wrap: wrap; align-items: center;
	+.footer__item{border-top: 1px solid rgba(footer(font-color),0.2);}
	&.infos{@extend .p-y-x2,.d-grid,.cols-4,.cols-lg-2,.cols-md-1; 
		gap: 4em;
		@include media-max(md){gap: 2em;}
		// @include media-max(xs){gap: 1em;}
	}
	&.copyright{ justify-content: center;
		&>*:first-child{flex-grow: 	1;}
	}
}

.square-primary{display: inline-block; width: 20px; height: 20px; margin: 0 0.5em; background: $primary;}
.square-secondary{display: inline-block; width: 20px; height: 20px; margin: 0 0.5em; background: $secondary;}

// background effects
%backband{position: relative;
	&:before{content:""; display: block; position: absolute; z-index: -1; width: 110vw; top: 20%; bottom: 20%; left:50%; transform: translateX(-50%);}
	@each $key, $value in $colors{
		&[class*=--#{$key}]:before{background-color: $value;}
	}
}
[class*=backband--]{@extend %backband;}



%backshadow{position: relative; z-index: 0;
	&:after{@include pseudo(); top: -1em; left:-1em; width: 70%; height: 70%; background: $secondary; z-index: -1;}
	@each $key, $value in $colors{
		&[class*=--#{$key}]:after{background-color: $value;}
	}
	&[class*=--right]:after{left: auto; right: -1em;}
}
[class*=backshadow--]{@extend %backshadow;}



%backslashed{ position: relative;
	&:before{content:"";display: block; position: absolute; top: 0; bottom: 0;left: 23%; width: 120px; transform: skew(-20deg); z-index: -1; opacity: 0.4;}
	@each $key, $value in $colors{
		&[class*=--#{$key}]:before{background-color: $value;}
	}
}
[class*=backslashed--]{@extend %backslashed;}



%backwave{background-repeat: no-repeat; background-size: auto; background-position: center center;}
[class*=backwave--]{@extend %backwave;}
.backwave--pink_1{background-image: url('../themes/factorielles/images/wavepink_1.png');}
.backwave--pink_2{background-image: url('../themes/factorielles/images/wavepink_2.png');}
.backwave--green {background-image: url('../themes/factorielles/images/wavegreen.png');  background-position: top left;}


// HOME
body.home{
	#container{flex-grow: 1; display: flex; width: 100%;}
	#main{display: flex; width: 100%;}
	#main>.inside{display: flex; flex-wrap: wrap; width: 100%; }
	.mod_article{width: 100%;}

	.ce_rsce_sliderFW{
		.sliderFW__item__bg{padding: 1em;}
		&.fit--unset{
			.sliderFW__item__bg{display: flex;align-items: center;
				img{height: auto; max-width: 100%; max-height: 100%; margin:auto; width: auto;}
			}
		}
	}
}
#home__hero{ width: 100vw; padding: 0; margin-bottom: 0; min-height: 88vh; min-height: calc(100vh - 115px);
	.p-x>&{@extend .counter-x !optional;}
	.home__title{ font-size: 2.25em; font-size: calc(1em + 2vw); line-height: 1.2; white-space: nowrap;
		h1,h2{font-size: 1em;}
	}
	.home__hero__wrapper{ position: relative; padding: 8% 15% 2em; background-repeat: no-repeat; background-size: cover; 
		padding-right: 700px*0.4;
		@include media-max(lg){padding-right: 500px*0.4;}
		@include media-max(sm){padding-right: 15%;}
		@include media-max(xxs){padding-right: 1.5em;padding-left: 1.5em;}
		p{max-width: 45ch;}
	}
	.home__hero__media{position: absolute; bottom: 0;right: 0;transform: translate(60%,30%); 
		width: 700px;
		@include media-max(lg){width: 500px;}
		@include media-max(sm){position: relative; margin-top: 2em;width: 120vw; left: 50%; transform: translateX(-50%);  margin-bottom: -120vw !important; }
	}
	.home__hero__item{z-index: -1;
		&.bg-purple{}
		&.bg-spindle{}
	}
}

#home__vosenjeux{ width: 100vw;
	.p-x>&{@extend .counter-x !optional;}
	.home__vosenjeux__wrapper{position: relative; background-repeat: no-repeat; background-size: auto; background-repeat: no-repeat; padding: 5% 15% 5%; }
	.home__vosenjeux__img{position: absolute; right: 0; top: 0; bottom: 0; z-index: -1; width: 50vw;
		@include media-max(xl){width: 40vw;}
		@include media-max(lg){width: 30vw;}
		@include media-max(md){position: relative; width: 100vw; left: 50%; transform: translateX(-50%); margin-top: -20%;}
		figure{@extend %img-container;
			img{object-position: right;}
		}
	}
	.title--compound{@include media-max(md){text-align: center;}}
}
#home__notreecosysteme{width: 100vw; position: relative;
	.p-x>&{@extend .counter-x !optional;}
	.home__notreecosysteme__wrapper{position: relative; padding: 15% 15%;
		padding-right: 50vw*0.5;
		@include media-max(md){padding-right: 15%; text-align: center; }
		@include media-max(xxs){padding-right: 1.5em;padding-left: 1.5em;}
	}
	.title--compound{@include media-max(md){margin: auto;}}
	.home__notreecosysteme__media{position: absolute; top: 50%;right: 0;transform: translate(0%,-50%); 
		// @extend %img-container,.r_16-9 !optional;
		// figure{@extend %img-container,.r_16-9 !optional;}
		width: 50vw;
		@include media-max(md){position: relative; width: 110vw; left: 50%; top: 0;transform: translateX(-50%);}
	}
}




// BREADCRUMB
$breadcrumb--height: 3rem;
.mod_breadcrumb{ height: $breadcrumb--height; z-index: 1; position: relative; font-size: 0.8em; opacity: 1; padding-top: 0;padding-bottom: 0;
	#heroWrapper &{max-width: 100vw;}
	.container &.container{padding: 0;
		@include media-max(md){max-width: none;}
	} 
	ul{line-height: $breadcrumb--height;
		li{min-width: 10ch;}
		li.root{min-width: 0; flex-shrink: 0;}
		li:not(:first-child):before{
			@include media-max(sm){margin-left: 0.5em; margin-right: 0.25em;}
		}
	}
	+.mod_article{
		&:not(.p-top-0)>.heroFW:first-child,
		&:not(.p-top-0) .product_reader .heroFW.product_header{
			margin-top: -$spacing*2 - $breadcrumb--height;
  		@include media-max(xs){margin-top: -$spacing - $breadcrumb--height;}
		}
		&.p-top-0>.heroFW:first-child{margin-top: -$breadcrumb--height;}
	}
}



// block card
.block-card{
	.block-card__badge{font-size: 0.65rem; display: inline-block;padding: 0.5em 0.85em; border-radius: 4px;line-height: 20px;margin-top: 10px;margin-bottom: 1.5em;
		img{height: 20px;width: auto;vertical-align: top;margin-right: 5px;}
	}
	&[data-preset="factorielles--infocard"]{
		// inherited =style from default
		.block-card__wrapper{@extend %paper !optional;}
		&:not([class*="content__bg--"]){
			.block-card__wrapper:after{background: body(block-background);}
		}
		.block-card__content{padding: 2.5em 2.5em 3em;}
		.block-card__headline,
		.block-card__footer{padding: .75em .85em;}
		.block-card__headline{margin-bottom: -2em;}
		.block-card__footer{margin-top: -2em;}
		.block-card__actions{margin-right: -1.15em; margin-bottom: -2em;}
		.block-card__title{
			&.h2 {font-size: 1.75em;}
		}

		// specific style
		.block-card__figure{
			&:last-child{padding: 2em; }
		}
		.block-card__content{ position: relative;
			&:first-child{padding-bottom: 2.5em;
				&:after{content: ''; display: block; width: 25%; height: 1px; background-color: currentColor; width: 25%; padding: 0; float: none; margin: auto; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);}
			}
		}
		.block-card__text{font-weight: 300; font-size: 1.4em; }
	}
}
.block-card__content{
	span.tag{ position: absolute; top: 0; background: $tertiary; color: white; font-weight: 300; padding: 0.35em 0.75em;
		i[class*="fa"]{margin-right: 0.4em;}
	}
}


// quote
.ce_rsce_quote{
	&[class*="backband--"]{@extend .clear-after !optional;
		max-width: 1200px; margin: auto;
		.wrapper{padding: 2em;}
		&:before{top: 10%;bottom: 10%;
			@include media-max(md){bottom: 0;}
		}
	}
	.img-container{ overflow: visible;
		// &:after{@include pseudo(); top: -1em; left:-1em; width: 60%; height: 60%; background: color(spindle); z-index: -1;}
		@include media-max(md){width: auto; margin: 0 1em;}
	}
	.wrapper{display: flex; align-items: center; padding: 2em; align-self: center;}
	.quote{font-weight: 300;}
	.author{color: $secondary; 
		strong{font-weight: 400;}
		&:before{content:""; @extend .square-secondary !optional; margin: -2px 0.5em;}
	}
}


// LIST ICONS
.ce_rsce_listIcons{ margin-bottom: $spacing;
  & .block-icon{text-align: center; @extend .no-txt-limit;
  	&[class*=bg-][class*=-o-]{ position: relative;
  		&:before{@include pseudo(); top: 0; left: 0;width: 100%; height: 100%; background: body(block-background); z-index: -1;}
  	}
  }
  & .block-icon__figure{@extend %img-container; width: auto; font-size: 2em; padding: 1em; padding-bottom: 0.5em; margin: auto; display: flex; align-items: center; justify-content: center;max-width: 50%;
  	@include media-max(xs){padding: 0.5em; padding-bottom: 0.25em;}
  }
  & .block-icon__img{ position: relative !important;}
  & .block-icon__text{ font-size: 0.85em; padding: .5em 1.5em 1.5em; max-width: 80%; margin: auto;
  	@include media-max(xs){max-width: 100%;padding: .25em 1em 1em;}
    & p:last-child{margin-bottom: 0;}
  }
  & a{color:inherit;text-decoration: none;}

  &.addNumbers{
  	.block-icon{
  		@for $index from 1 through 12{
	      &:nth-of-type(#{$index}n){
	        & .block-icon__figure:before{content: "#{$index}"; display: inline-block; background: $tertiary; color:white; font-size: 0.45em; width: 1.65em; height: 1.65em; line-height: 1.65em; margin: 0 0.75em 0 0; font-weight: 300; flex-shrink: 0;}
	      }
	    }
  	}
  }
}

// ce_rsce_mediacontent
.ce_rsce_mediacontent{
	.mediacontent__content{position: relative; padding: 15%; 
		@include media-max(md){ text-align: center; }
		@include media-max(xxs){padding-right: 1.5em;padding-left: 1.5em;}
		+.mediacontent__media{margin-left: -1px; margin-right: -1px;}
	}
	.mediacontent__media{position: relative; display: flex;align-items: center; justify-content: center;}
	&.media--overlap{
		.mediacontent__content{ padding: 10% 15% 20%; padding-right: 50vw*0.5; 
			@include media-max(md){padding-right: 15%; padding-bottom: 15%; }
		}
		.mediacontent__media{
			>figure{position: absolute; top: 50%;right: 0;transform: translate(0%,-50%); width: 50vw; max-width: none;
				@include media-max(md){position: relative; width: 100vw; left: 50%; top: 0;transform: translateX(-50%);}
			}
		}
	}
	.title--compound{margin-bottom: 1rem;
		@include media-max(md){margin-left: auto; margin-right: auto;}
	}
}


// PriceCards
$heightMain : 1.85em;
.ce_rsce_priceCards{padding-top: $heightMain;}
.priceCard{padding: 0; }
.priceCard__wrapper{ display: flex; flex-direction: column;padding-left: 1.25em;padding-right: 1.25em; padding-bottom: 1.25em; padding-top: 0; height: 100%; border: 1px solid color(greylighter);
	&:not([class*=bg-]){ background: body(block-background); }
}
.priceCard__title{text-transform: uppercase; padding-top: 1em; padding-bottom: 1em; font-size: 1.25em; text-align: center; }
.priceCard__price{font-weight: bold; padding: 0.5em;font-size: 1.2em;}
.priceCard__isMain{text-align: center; background: $tertiary; color: color(white); font-weight: 300;padding: 0 1em; text-transform: uppercase; line-height: $heightMain; margin-top: -$heightMain;}
.priceCard__price__amount{}
.priceCard__price__currency{}
.priceCard__price__period{}
.priceCard__content{ font-size: 0.85em; padding-top: 1.5em; padding-bottom: 1.5em; flex-grow: 1; position: relative;
	.priceCard__wrapper:not([class*=bg-]) &:before{content: ""; display: block; height: 1px;	background: color(greylighter); position: absolute; top: 0; left: -1.25rem; right: -1.25rem;}
}
.priceCard__content__item{margin-bottom: 0.75em; position: relative; padding-left: 1.5em;
	i{position: absolute; left: 0; line-height: 1.5em;}
	&:last-child{margin-bottom: 0;}
}
.priceCard__cta{ font-size: 1.2em;		
	a{width: 100%;}
}


// CTA
.ce_cta{@extend .m-bottom !optional; padding: 1em 1.5em;  line-height: 1; 
	>a{text-decoration: none; color: inherit;}
	&[class*="bd-bottom"]:not([class*=p-bottom]){padding: 1em 1.5em;}
}
.ce_rsce_cta_mini{border-bottom: 5px solid $secondary; font-size: 0.8rem;
	&:not([class*=bg-]){ background: $primary; color: contrastFW(body(background),$primary); 
		@for $index from 1 through 5{
		  &:nth-of-type(#{$index}n){background: lighten($primary,(($index*10)*0.5)); }
		}
	}
	&:nth-of-type(2n){border-bottom-color: $tertiary;}
	&:nth-of-type(3n){border-bottom-color: color(spindle);}
	&:nth-of-type(4n){border-bottom-color: color(purple);}
}

.cta__icon{margin-right: $spacing; font-size: 1.8em; line-height: 1;display: inline-block;flex-shrink: 0; }
.cta__title{@include lastChildNoMargin(); display: flex; align-items: center;
	div{@include lastChildNoMargin(); }
}
.cta__content{
	.ce_text{@include lastChildNoMargin();}
}
.cta__toggler+.cta__content{display: none;}

// isotope
.mod_iso_orderhistory .table td, .mod_iso_orderhistory .table th{vertical-align:middle}

// gallery
.ce_gallery{@extend .no-txt-limit;}
.ce_gallery ul{list-style: none; padding: 0; display: flex; flex-wrap: wrap; @extend .no-pbreak;}
.ce_gallery ul li{    display: flex; align-items: center; justify-content: center;}
.ce_gallery ul li .image_container{margin-bottom: 0;}
@for $index from 1 through 12 {
	.ce_gallery .cols_#{$index} li{width: 100% / $index; margin: 0; padding: 0 $spacing*0.5 $spacing;}
}
.ce_gallery ul li.col_first{padding-left: 0; clear: both}
.ce_gallery ul li.col_last{padding-right: 0;}


// CART
.table-list__cell{ 
  &[data-name="quantity"]{ width: 50px; min-width: 0; 
  	input{min-width: 50px;text-align: center;}
  }
}

#formation-intra-devis{
	.formbody{@extend .d-grid,.cols-3,.cols-lg-2,.cols-xs-1 !optional;}
}

// TUNNEL
.mod_iso_checkout{
	.steps{
		&>ol{@extend .no-pbreak !optional; display: flex;padding: 0;margin: 0; list-style: none;}
	}
	.splitForm__navitem{ cursor: auto;
		&.passed{background: rgba($primary,0.6); color: contrastFW(white,rgba($primary,0.6));}
	}

	.payment,
	.address{
		.widget-radio{
			// @extend .d-grid,.cols-3,.cols-md-2,.cols-xxs-1,.gap-2 !optional;
			@extend .input-group !optional; flex-wrap: wrap;
			label{flex-grow: 1; flex-basis: 30%; margin: 0 1em 1em 0; min-width: 250px;}
			.error{width: 100%;}
		}
	}
	.payment{
		%radio{
  		&+label{
  			position: relative; padding-left: 60px;
  			&>img{position: absolute; left: -10px; width: 30px; height: 30px; object-fit: contain;object-position: center;}
  			&:before,
  			&:after{left: 30px;}
  			.note{ display: block; font-size: 0.8em; line-height: 1.3; font-weight: 400; margin-top: 10px; color: lighten(body(font-color),40);}
  		}
  	}
	}
	.vcard{ line-height: 1.3;
		div.adr{margin: 0.75em 0; padding: 0.75em 0 0; border-top: 1px solid rgba($primary,0.1); }
	}

	.info{
		.block-card__text{font-size: 0.8em;}
		&.billing_address{
			div.adr{ border-top-color: rgba(white,0.1); }
		}
		&.payment_method {
			img{vertical-align: bottom; margin-right: 0.25em;}
		}
	}
}


// NEWSLIST
.mod_newslist{
	&:not(.d-grid){
    .block-card{
      margin-left: $spacing*0.25;
      margin-right: $spacing*0.25;
      margin-bottom: $spacing*0.5;
    }
  }
  .block-card__title{font-size: 1.75em;}
}

// EVENTS LIST
.mod_eventlist{
	.event.layout_list{transition: opacity 0.4s; opacity: 1;
		.block-card__content {padding: 1.5em 1.35em;}
		&:nth-child(2n){@extend .content__bg--greylighter !optional;
			a.block-card__wrapper:hover{color: inherit !important;}
		}
	}
	&:hover{
		.event.layout_list:not(:hover){opacity: 0.4;}
	}
}

// CTA FIXED
#ctaFixedContainer{position: fixed; right: 0; top: 0; bottom: 0; display: flex; flex-direction: column; justify-content: center; z-index: 10; pointer-events: none; margin-right: 0.5em;
	.btn-cta{pointer-events: all;line-height: 1em; padding: .6em .65em 0.65em; flex-grow: 0; @extend %img-container,.r_1-1 !optional; display: flex; align-items: center; justify-content: center; font-size: 0.7rem;box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2); text-transform: uppercase; font-weight: 300;
		&:not(:last-child){margin-bottom: 0.5em;}
		&:after{display: none;}
		i[class*=fa]{display: block;width: 100%;text-align: center;margin-bottom: 0.4em;font-size: 1.5em;}
	}
}


// audiotracks
.audiotracks{padding: 1rem 0;}
.audiotrack{font-size: 0.8em;
	+.audiotrack{
		&:before{content:""; display: block; height: 1px; width: 100%; background: color(greylighter);margin-bottom: 3rem; margin-top: 1rem;}
	}
}
.audiotrack__figure{
  &:after{content:""; position: absolute; z-index: 0; background:  rgba($secondary,0.6); width: 25%; min-width: 100px; height: 110%; top: 50%; left: 50%; transform: translate(-50%, -50%) skew(-15deg);}
}


.audioPlayer{background: $secondary; color: contrastFW(#fff,$secondary); padding: 1em 0; position: fixed; width: 100%; bottom: 0; left: 0; z-index: 1; transition: opacity 0.5s; opacity: 1;
	&:not(.active){opacity: 0;pointer-events: none;}
}
.audiotrack__play{background: $tertiary;}
.audiotrack__likes{
  i[class*=fa],svg{color: $tertiary;}
}
.audiotrack__tags .tag{cursor: pointer;}